h1
{
    font-size: 4.0em;
    margin: 0;
}
h2
{
    font-size: 3.5em;
    margin: 0;
}
h3
{
    font-size: 3.0em;
    margin: 0;
}
h4
{
    font-size: 2.0em;
    margin: 0;
}
h5
{
    font-size: 1.5em;
    margin: 0;
}
h6
{
    font-size: 1.0em;
    margin: 0;
}

.diaporama-color
{
    color: teal;
}

html, body
{
    margin: 0;
    padding: 0;
    font-family: cursive;
    scroll-behavior: smooth;
}

header
{
    width: 100%;
    background-color: #36393B;
    display: flex;
    text-align: right;
}

header h6
{
    width: 100%;
    padding: 0.25% 0;
    color: white;
    margin-right: 2%;
}

header h6 a
{
    text-decoration: none;
    color: white;
    margin-right: 1%;
}

header h6 a:hover
{
    color: teal;
}

nav
{
    width: 85%;
    margin-left: 10%;
    display: flex;
    position: absolute;
    z-index: 2;
}

nav h4
{
    width: 40%;
    padding: 0.50%;
    margin-left: 2%;
}

nav h4 a
{
    text-decoration: none;
    color: whitesmoke;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0;
}

nav ul li
{
    list-style-type: none;
}

nav ul li a
{
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover
{
    color: teal;
}

.diaporama
{
  margin: 0;
  position: relative;
  z-index: 1;
}

.diaporama img
{
    width: 100%;
    height: 85vh;
    display: block;
    z-index: 100;
    object-fit: cover;
}

.diaporama figcaption
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 81, 88, 0.418);
    z-index: 1000;
}

.diaporama figcaption h3
{
    margin-top: 8%;
    margin-left: 7%;
    color: whitesmoke;
}
.diaporama figcaption h4
{
    margin-left: 7%;
    color: white;
}

.project
{
    width: 100%;
    margin-bottom: 10%;
}

.project h3
{
    text-align: center;
    margin-top: 1% ;
}

.projects
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects figure
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 600px;
}

.projects figure img
{
    width: 100%;
    position: relative;
    filter: blur(5px) contrast(50%);
    border: 2px solid black;
}

.projects figure figcaption
{
    z-index: 2;
    position: absolute;
    text-align: center;
    filter: drop-shadow(4px 4px 8px black);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    word-break: normal;
}

.projects figure figcaption i
{
    margin: 5% 0;
    z-index: 2;
    font-size: 4em;
    color: teal;
    filter: drop-shadow(2px 8px 8px rgba(255, 255, 255, 0.52));
}

.projects figure figcaption h5
{
    color: white;
    font-weight: bold;
    font-size: 1.0em;
}

.projects figure figcaption a
{
    text-decoration: none;
    color: white;
    background-color: teal;
    border-radius: 15px;
    padding: 1vh 1vw;
    margin-top: 3%;
    font-size: 0.9em;
}

footer
{
    z-index: 1000;
    width: 100%;
    background-color: #36393B;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
}

footer h6
{
    width: 100%;
    padding: 0.25% 0;
    color: white;
    text-align: center;
    
}

footer h6 a
{
    color: white;
    text-decoration: none;
}

.mobile-menu
{
    display: none;
}

.mobile-burger
{
    display: none;
}

@media all and (max-width: 1024px)
{
    header h6
    {
        font-size: larger;
    }

    footer
    {
        display: flex;
        flex-direction: column;
    }

    footer h6 
    {
        font-size: 1.0em;
        width: 90%;
        margin: auto;
    }

    .projects
    {
        margin-bottom: 25%;
    }

    .diaporama figcaption
    {
        font-size: smaller;
    }

    .diaporama img
    {
        height: auto;
    }

    nav
    {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    nav h4, .desktop-menu
    {
        display: none;
    }

    nav h5
    {
        margin-top: 25px;
        margin-right: 40px;
        font-size: xx-large;
        align-self: flex-end;
        z-index: 3;
    }

    .mobile-menu
    {
        width: 100%;
        padding-left: 0;
        background-color: rgba(0, 109, 128, 0.541);
        display: flex;
        flex-direction: column;
    }

    .mobile-menu li a 
    {
        font-size: x-large;
    }

    .mobile-burger
    {
        display: initial;
    }

    .mobile-burger a 
    {
        text-decoration: none;
        color: black;
    }
}